@model IEnumerable<Buffet.Models.CheckedIn>
@{
    ViewData["Title"] = "Reception";
}


<h1>Following table shows who's eaten brekkie today </h1>
<table class="table">
    <thead>
        <tr>
            <th>
                RoomNumber
            </th>
            <th>
                Children checked in
            </th>
            <th>
                Adults checked in
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adults)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Children)
                </td>
            </tr>
        }
    </tbody>
</table>
