@model Buffet.Models.Reservation

@{
    ViewData["Title"] = "Reception";
}

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <form asp-action="Create">
                <div class="form-group">
                    <label> Creat-a new Reservation-a </label>
                </div>
                <div>
                    <input type="submit" value="Go" class="btn btn-secondary" />
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-4">
            <form asp-action="Details">
                <div class="form-group">
                    <label> View table for who be eatin' brekkie today</label>
                </div>
                <div>
                    <input type="submit" value="Go" class="btn btn-secondary" />
                </div>
            </form>
        </div>
    </div>
</div>