@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the Home page for our Buffet web application.</p>

    <p>To see the tab for Reception, log in with: </p>
    <ul>Admin User: Recep@null</ul>
    <ul>Pass: Password123!</ul>

    <p>To see the tab for Restaurant, log in with: </p>
    <ul>Admin User: Restau@null</ul>
    <ul>Pass: Password123!</ul>

    <p>To see the tab for Kitchen, log in with: </p>
    <ul>Admin User: Kitch@null</ul>
    <ul>Pass: Password123!</ul>
</div>
